body {
    margin: 0;
    padding: 0;
    font-family: arial;
    background: red;
}

.container {
    background: #22262D;
    height: 1000px;
    width: 1000px;
}

.calculator-bottom {
    background: green;
}

.button {
    width: 100px;
    height: 30px;
}