body {
        margin: 0;
        padding: 0;
        font-family: arial;
        background: #22262d;
        height: 100vh;
      }

      .container {
        background: #22262d;
        width: 100%;
        position: absolute;
        bottom: 0;
      }

      .calculator-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 30px;
        height: 150px;
      }

      .display-number {
        width: 300px;
        text-align: right;
        color: white;
        background: none;
        border: none;
      }

      .input1 {
        font-size: 18px;
        color: #1ae2ad;
      }

      .input2 {
        font-size: 50px;
      }

      .calculator-bottom {
        width: 100%;
        background: #292d37;
        padding: 25px 0;
        margin: auto;
        border-radius: 25px 25px 0 0;
      }

      .button-row {
        margin: 15px auto;
        width: 85%;
        display: flex;
        justify-content: space-between;
      }

      .button {
        height: 75px;
        width: 75px;
        color: white;
        background: #272b33;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        transition: 250ms ease-out;
      }

      .button:hover {
        background: #1b1d22;
        cursor: pointer;
        transition: 250ms ease-out;
      }

      .green {
        color: #1ae2ad;
      }

      .eqlBtn {
        width: 100%;
      }

      .resetBtn {
        color: #1ae2ad;
      }

      @media all and (min-width: 450px) {
        body {
          background: rgb(22, 22, 22);
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .container {
          max-width: 400px;
          height: auto;
          border-radius: 10px;
          overflow: hidden;
        }
        .calculator-bottom {
          border-radius: 30px 30px 0 0;
        }
      }